.login_area_box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}
.login_form{
    padding: 30px 40px;
    border: 2px solid #00d690;
    width: 50%;
    text-align: center;
    border-radius: 5px;
}
.login_form h2{
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding-bottom: 20px;
}
.login_form p{
    font-size: 12px;
}